body{
    background-color: #F2F2F2;
    /* background-image: url(Resources/People_working_in_elegant_and_cozy_office_space.jpg) */
}
/* Navbar area */
.navbar{
    background-color: #F26D3D;
    margin-bottom: 20px;
    padding: 2%;
    font-size: 1em;
    color: #FFFFFF;
    }

.navbar-brand{
    color: #FFFFFF;
    font-size: 2rem;
    margin: 0%;
    }

.nav-item{
    color: #FFFFFF;
    /* margin-left: 5%; */
    font-size: 1.2rem;
}

.container-fluid{
    width: 90%;
}

.offcanvas{
    background-color: #F26D3D;    
}

.offcanvas-title{
    color: #FFFFFF;
    font-size: 150%;
    padding-right: 55%;
}

.btn{
    color: #FFFFFF;
    background-color: #F26D3D;
    }
    
/* Hero image and content */

