body{
    background-color: #F2F2F2;
    font-family: 'Century Gothic';
}
/* Navbar area */
.navbar{
    background-color: #F26D3D;
    font-size: 1em;
    color: #FFFFFF;
    }

.navbar-brand{
    color: #FFFFFF;
    font-size: 1.70rem;
    margin: 0%;
    }

.nav-item{
    color: #FFFFFF;
    /* margin-left: 5%; */
    font-size: 1.2rem;
}

.offcanvas{
    background-color: #F26D3D;    
}

.offcanvas-title{
    color: #FFFFFF;
    font-size: 150%;
    padding-right: 55%;
}

.btn{
    color: #FFFFFF;
    background-color: #F26D3D;
    }
/* Hero Image area */
header{
    background-size: cover;
    min-height: 50vh;
    align-items: center;
}

.left{
    padding-top: 3%;
    align-items: center;
}

/* Three Buttons area */
.content_page{
    color: #FFFFFF;
    background-color: #F26D3D;
}
.content_btn{
    align-items: center;
}

.grup:hover{
    color: #000000;
}

/* Review area */
.review_page{
    color: #F26D3D;
    /* display: grid;
    place-items: center; */
}
.isi{
    background-color: #F26D3D;

}

/* Footer area */
footer{
    background-color: #F2C53D;
}