body{
    background-color: #F2F2F2;
}
.navbar{
    background-color: #F26D3D;
    padding: 3%;
    font-size: 1em;
    color: #FFFFFF;
    }

.navbar-brand{
    color: #FFFFFF;
    font-size: 2rem;
    }

.nav-item{
    color: #FFFFFF;
    /* margin-left: 5%; */
    }
        
.offcanvas{
    background-color: #F26D3D;    
}

.offcanvas-title{
    float: right;
    padding-right: 68%;
}