@font-face {
    font-family: 'Century Gothic';
    src: url('fonts/CenturyGothic.ttf') format('truetype');
}

body{
    background-image : url(HTML/fotouser.png);
    
    background-size: cover;
    
}

.hero-section {
    background-color: white;
    color: black;
    text-align: center;
    position: relative;
    font-family: 'Century Gothic';
    font-weight: bold;
}

.hero-section img {
    margin-top: 1%;
    border-radius: 50%;
    border: 5px solid #ff6600;
    text-align: left;
    float: left;
    margin-right: 20px;
}

.hero-section h1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 4%;
    font-family: 'Century Gothic';
    max-width: max-content;
}

.hero-section h2 {
    font-size: 24px;
    margin-bottom: 65px;
    font-family: 'Century Gothic';
    max-width: max-content;
}

.program-section {
    background-color: rgba(255, 102, 0, 0.1);
    padding: 50px 0;
    text-align: center;
}

.program-section h3 {
    color: white;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 90px;
    margin-top: 30px;
}

.program-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.program-card:hover {
    background-color: #ffc107;
    color: white;
}

.program-card img {
    margin-bottom: 10px;
}

.program-card h4 {
    background-color: #ffc107; 
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    position: absolute; 
    top: -15px; 
    left: 50%;
    transform: translateX(-50%); 
    text-align: center;
    font-weight: bold;
}

.subscribe-btn {
    background-color: #fff;
    color: black;
    border: 2px solid #ff6600;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 30px;
    display: inline-block;
}

.subscribe-btn:hover {
    background-color: #ff6600;
    color: white;
}